<tr>
  <th scope="row"><%= book.id %></th>
  <td><%= book.title %></td>
  <td><%= book.author.first_name + " " + book.author.last_name %></td>
  <td><%= book.published_at %></td>
  <td class="d-flex">
    <button type="button" class="btn btn-primary">
      <%= link_to 'View detail', book, class: "text-decoration-none text-light" %>
    </button>
    <%= button_to 'Delete', book, method: :delete, class: "btn btn-danger text-light" %>
  </td>
</tr>
  